
AcreCalculation/AcreCalculation.iml
AcreCalculation/.idea/vcs.xml
AcreCalculation/.idea/modules.xml
AcreCalculation/.idea/misc.xml
.idea/workspace.xml
LandCalculations.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
out